!!!
%html
  %body
  .wrapper
    .header
      .header__content
    .content
      .content__left
        .content__left--top
          .content__left--top--box
            .content__left--top--box--name
              もんちゃん
            .content__left--top--box--edit
              = fa_icon 'edit', class: "content__left--top--box--edit--editting"
              = fa_icon 'cog', class: "content__left--top--box--edit--cog"
        .content__left--group
          .content__left--group--name
            group
          .content__left--group--latestmessage
            初めまして
      .content__right
        .content__right--top
          .content__right--top--left
            .content__right--top--left--groupname
              a
            .content__right--top--left--username
              Member:もんちゃん
          .content__right--top--editbtn
            Edit
        .content__right--low
          .content__right--low--main
            .content__right--low--main--upper
              .content__right--low--main--upper--username
                もんちゃん
              .content__right--low--main--upper--date
                2019/11/05(Tues)13:41:13
            .content__right--low--main--message
              初めまして
        .content__right--form
          %input.input-text{:name => "text", :placeholder => "type a message", :type => "text", :value => "", :class => "content__right--form--input"}
            = fa_icon 'image', class: "content__right--form--input--image"
          %input.input-submit{:name => "submit", :placeholder => "SEND", :type => "submit", :value => "SEND", :class => "content__right--form--input--submit", :size => "100*100"}