.header
  .header__content
.content
  .content__left
    .content__left--top
      name
      /
      -# .content__left--top--name
      -#   name
    .content__left--foot
      group
  .content__right
    .content__right--top
      上だ
    .content__right--foot
      下だ