@import "./reset";
@import 'font-awesome';
@import "messages";

.header{
  &__content{
    background-color: #38aef0;
    width: 100%;
    height: 10px;
  }
}
.content{
  color: white;
  display: flex;
  text-align: left;
  &__left{
    background-color: #2f3e51;
    width: 300px;
    height: 100vw;
    &--top{
      font-size: 16px;
      font-weight: bold;
      line-height: 82px;
      height: 82px;
      background-color: #253141;
      padding-left: 20px;
      padding-right: 20px;
      // &--name{
      //   text-align: left;
      // }
    }
    &--foot{
      font-size: 16px;
      font-weight: bold;
      height: 100vw;
      padding: 20px;
    }
  }
  &__right{
    color: black;
    background-color: white;
    height: 100vw;
    width: calc(100vw - 300px);
    &--top{
      height: 82px;
      background-color: white;
      padding-left: 40px;
      padding-right: 40px;
    }
    &--foot{
      height: calc(100vw - 82px);
      background-color: #fafafa;
      padding-left: 40px;
      padding-right: 40px;
    }
  }
}
